.success_cover {
  width: 90%;
}

.text_input {
  height: 3rem;
  width: 90%;
  font-weight: 500;
  font-size: 18px;
  background: #f4f4f4;
  border: 0;
  border-radius: 20px;
  margin-bottom: 1rem;
  outline: none;
  padding: 0 1rem;
}

.text_input::placeholder {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 18px;
  text-align: left;
  opacity: 0.5;
}

.terms {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 0.8rem;
  line-height: 17px;
  text-align: center;
  color: #2c393f;
}

.line_span {
  border-bottom: 0.5px solid #021e2b;
  background: transparent;
  border-radius: 0;
  padding: 0;
}

.btn_line {
  height: 3rem;
    width: 90%;
    background: #d66233;
    border-radius: 20px;
    border: 0;
    cursor: pointer;
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 13.504px;
    line-height: 15px;
    color: #dee1e2;
    text-align: center;
    margin-top:1rem ;
    
}

.btn_line:hover {
  background: transparent;
  color: #d66233;
  border: 1px solid #d66233;
}

.phone_input {
  margin-bottom:1rem ;
}

.flag-dropdown {
  border-radius: 20px 0 0 20px !important;
  width: 50px !important;
}
